USE [LinkCaja]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[CodeSAT] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[Image] [varbinary](max) NULL,
	[Stock] [decimal](18, 3) NULL,
	[StockMin] [decimal](18, 3) NULL,
	[IdPresentation] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[SuggestedStock] [decimal](18, 3) NULL,
	[Margen] [decimal](18, 2) NULL,
	[Status] [bit] NULL,
	[SendBack] [bit] NOT NULL,
	[Medicine] [bit] NOT NULL,
	[IdCategory] [int] NOT NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boxs]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boxs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[HardwareID] [nvarchar](500) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Boxs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cashfund]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cashfund](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBox] [int] NOT NULL,
	[CheckIn] [datetime] NOT NULL,
	[CheckOut] [datetime] NOT NULL,
	[CashIn] [decimal](18, 2) NOT NULL,
	[CashOut] [decimal](18, 2) NOT NULL,
	[CashFinish] [decimal](18, 2) NOT NULL,
	[StatusOpen] [bit] NOT NULL,
 CONSTRAINT [PK_Cashfund] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone1] [nvarchar](50) NOT NULL,
	[Phone2] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[CP] [int] NOT NULL,
	[RFC] [nvarchar](50) NOT NULL,
	[Regimen] [nvarchar](50) NOT NULL,
	[Manager] [nvarchar](50) NOT NULL,
	[Phone1] [nvarchar](50) NOT NULL,
	[Phone2] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Logo] [varbinary](max) NULL,
	[BillingName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfigBox]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigBox](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdImpression] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Spacing] [int] NOT NULL,
	[Align] [nvarchar](50) NOT NULL,
	[Width] [int] NOT NULL,
	[HightLine] [decimal](18, 2) NOT NULL,
	[ColorLine] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ConfigBox] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfigImpressions]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigImpressions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdImpression] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[FontSize] [int] NOT NULL,
	[FontStyle] [nvarchar](50) NOT NULL,
	[FontColor] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ConfigImpressions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailsTicket]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailsTicket](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTicket] [int] NOT NULL,
	[IdArticle] [int] NOT NULL,
	[IdPresentation] [int] NOT NULL,
	[StockSold] [decimal](18, 3) NOT NULL,
	[PriceSold] [decimal](18, 2) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[TotalSold] [decimal](18, 2) NOT NULL,
	[Status] [bit] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Rate] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_DetailsTicket] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impressions]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impressions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Page] [nvarchar](50) NOT NULL,
	[WidthPage] [decimal](18, 2) NOT NULL,
	[HightPage] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Impressions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRecipe] [int] NOT NULL,
	[IdArticle] [int] NOT NULL,
	[Use_Stock] [decimal](18, 3) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Recipes_Articles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keys]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Key] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Keys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Presentations]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presentations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Presentation] [nvarchar](50) NOT NULL,
	[Decimals] [int] NOT NULL,
	[Submeasurement] [nvarchar](50) NOT NULL,
	[UnitSAT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Presentations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PricesSuppliers]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PricesSuppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSupplier] [int] NOT NULL,
	[IdArticle] [int] NOT NULL,
	[PriceUnit] [decimal](18, 2) NOT NULL,
	[IdPresentation] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_PricesSuppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[Image] [varbinary](max) NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Stock] [decimal](18, 3) NOT NULL,
	[IdPresentation] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[SuggestedStock] [decimal](18, 3) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Recipes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone1] [nvarchar](50) NOT NULL,
	[Phone2] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdClient] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Lastmodification] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[IdBox] [int] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[TotalReturn] [decimal](18, 2) NOT NULL,
	[Send] [bit] NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[TypePay] [nvarchar](50) NOT NULL,
	[Folio] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionHistory]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdArticle] [int] NOT NULL,
	[Stock] [decimal](18, 3) NOT NULL,
	[Concept] [nvarchar](max) NOT NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_TransactionHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypesUsers]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypesUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypesUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
	[IdTypeUser] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([Id], [Name], [Address], [Phone1], [Phone2], [Email], [Status]) VALUES (1, N'ClienteGeneral', N'Conocida', N'1111111111', N'', N'', 1)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[ConfigBox] ON 

INSERT [dbo].[ConfigBox] ([Id], [IdImpression], [Name], [Spacing], [Align], [Width], [HightLine], [ColorLine]) VALUES (1, 1, N'BoxPrecios', 8, N'AlignCenter', 130, CAST(0.50 AS Decimal(18, 2)), N'Black')
SET IDENTITY_INSERT [dbo].[ConfigBox] OFF
GO
SET IDENTITY_INSERT [dbo].[ConfigImpressions] ON 

INSERT [dbo].[ConfigImpressions] ([Id], [IdImpression], [Name], [FontSize], [FontStyle], [FontColor]) VALUES (1, 1, N'Titulo', 16, N'SemiBold', N'Black')
INSERT [dbo].[ConfigImpressions] ([Id], [IdImpression], [Name], [FontSize], [FontStyle], [FontColor]) VALUES (2, 1, N'Fecha', 16, N'SemiBold', N'Black')
INSERT [dbo].[ConfigImpressions] ([Id], [IdImpression], [Name], [FontSize], [FontStyle], [FontColor]) VALUES (3, 1, N'Articulo', 12, N'Bold', N'Black')
SET IDENTITY_INSERT [dbo].[ConfigImpressions] OFF
GO
SET IDENTITY_INSERT [dbo].[Impressions] ON 

INSERT [dbo].[Impressions] ([Id], [Name], [Page], [WidthPage], [HightPage]) VALUES (1, N'Lista de precios', N'A4', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Impressions] ([Id], [Name], [Page], [WidthPage], [HightPage]) VALUES (2, N'Ticket', N'mm', CAST(80.00 AS Decimal(18, 2)), CAST(60.00 AS Decimal(18, 2)))
INSERT [dbo].[Impressions] ([Id], [Name], [Page], [WidthPage], [HightPage]) VALUES (3, N'Etiquetas', N'A4', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Impressions] OFF
GO
SET IDENTITY_INSERT [dbo].[Keys] ON 

INSERT [dbo].[Keys] ([Id], [Name], [Key]) VALUES (1, N'Licencia basica', N'NmEoPidu4P1C/n5/UD8HGwSUpg31d2hgBgXY6vnGkEw=')
SET IDENTITY_INSERT [dbo].[Keys] OFF
GO
SET IDENTITY_INSERT [dbo].[Presentations] ON 

INSERT [dbo].[Presentations] ([Id], [Name], [Presentation], [Decimals], [Submeasurement], [UnitSAT]) VALUES (1, N'Kilogramos', N'Kg', 3, N'Gramos', N'KGM')
INSERT [dbo].[Presentations] ([Id], [Name], [Presentation], [Decimals], [Submeasurement], [UnitSAT]) VALUES (2, N'Litros', N'L', 3, N'Mililitros', N'LTR')
INSERT [dbo].[Presentations] ([Id], [Name], [Presentation], [Decimals], [Submeasurement], [UnitSAT]) VALUES (3, N'Metros', N'M', 3, N'Centimetros', N'MTR')
SET IDENTITY_INSERT [dbo].[Presentations] OFF
GO
SET IDENTITY_INSERT [dbo].[TypesUsers] ON 

INSERT [dbo].[TypesUsers] ([Id], [Name]) VALUES (1, N'Administrador')
INSERT [dbo].[TypesUsers] ([Id], [Name]) VALUES (2, N'Empleado')
INSERT [dbo].[TypesUsers] ([Id], [Name]) VALUES (3, N'Almacenista')
SET IDENTITY_INSERT [dbo].[TypesUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [User], [Password], [Status], [IdTypeUser], [Name], [Address]) VALUES (1, N'Administrador', N'Admin123', 1, 1, N'Administrador', N'Administrador')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  StoredProcedure [dbo].[CancelTicket]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CancelTicket]
    @Id int = 0,
    @NoteText nvarchar(50)='',
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     update dbo.Tickets
     set [Status] = 0
     where Id = @Id
     update dbo.DetailsTicket
     set Note = @NoteText
     where [Status] = 1
     and IdTicket = @Id
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[ConfirmSend]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConfirmSend]
    @Id int = 0,
    @Send bit = 0,
    @Note nvarchar(Max) = '',
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     update Tickets
     set [Send] = @Send,
     Note = @Note
     where Id = @Id
     COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetArticle]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetArticle]
@Id int = 0,
@Code nvarchar(50)='',
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select top 1 A.Id, A.CodeSAT, A.Code, A.[Name], A.[Description], A.[Image],A.[Status],
     A.SendBack, A.Medicine, A.IdCategory
     from Articles A
     inner join Categories C on A.IdCategory = C.Id
    where A.Id = @Id or A.Code = @Code
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetArticleActive]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetArticleActive]
@Id int = 0,
@Code nvarchar(50)='',
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select top 1 A.*, P.Presentation
     from Articles A
     inner join Presentations P on A.IdPresentation = P.Id
    where (A.Id = @Id or A.Code = @Code) and A.[Status] = 1
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetArticles]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetArticles]
@Code nvarchar(50) ='',
@Name nvarchar(50) = '',
@IsReceta bit = 0,
@IdCategory int = 0,
@Outstock bit = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
    SELECT 
    A.Id, A.Code, A.CodeSAT, A.[Name],
    CASE 
        WHEN ISNULL(A.Stock, 0) % 1 = 0 THEN CAST(CAST(ISNULL(A.Stock, 0) AS INT) AS NVARCHAR(50))
        ELSE FORMAT(ISNULL(A.Stock, 0), 'N3') 
    END + ' ' + ISNULL(P.[Presentation], '') AS 'Stock',
    CASE 
        WHEN ISNULL(A.StockMin, 0) % 1 = 0 THEN CAST(CAST(ISNULL(A.StockMin, 0) AS INT) AS NVARCHAR(50))
        ELSE FORMAT(ISNULL(A.StockMin, 0), 'N3') 
    END + ' ' + ISNULL(P.[Presentation], '') AS 'StockMin',
    ISNULL(A.Price, 0.00) AS 'Price',    
    CONCAT(CAST(CAST(ISNULL(A.SuggestedStock, 0) AS FLOAT) AS NVARCHAR(50)), ' ', ISNULL(P.[Name], '')) AS 'PorCada',  
    CASE WHEN A.Medicine = 1 THEN 'Si' ELSE 'No' END AS 'Medicine',
    CASE 
        WHEN A.[Status] = 1 THEN 'Activo' 
        ELSE 'Inactivo' 
    END AS 'Status', C.[Name] AS 'Categoria'
FROM Articles A
INNER JOIN Categories C ON C.Id = A.IdCategory
LEFT JOIN Presentations P ON A.IdPresentation = P.Id
WHERE (A.[Code] LIKE '%' + @Code + '%' OR @Code = '')
  AND (A.[Name] LIKE '%' + @Name + '%' OR @Name = '')
  AND (@IsReceta = 0 OR (@IsReceta = 1 AND A.[Name] NOT LIKE '%Rec-%'))
  AND (A.IdCategory = @IdCategory OR @IdCategory = 0)
  AND (@Outstock = 0 OR (@Outstock = 1 AND A.Stock <= A.StockMin))
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetArticlesActives]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetArticlesActives]
@Code nvarchar(50) ='',
@Name nvarchar(50) = '',
@IdCategory int = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select A.Id, A.Code, A.[Name],  
     CASE WHEN A.Stock % 1 = 0 THEN CAST(CAST(A.Stock AS INT) AS NVARCHAR(50))
     ELSE FORMAT(A.Stock, 'N3') END + ' ' + P.[Presentation] AS 'Stock',
     A.Price,
     CONCAT(CAST(CAST(A.SuggestedStock AS FLOAT) AS NVARCHAR(50)), ' ', P.[Presentation]) AS 'PorCada',
     CASE WHEN A.Medicine = 1 then 'Si' ELSE 'No' END as 'Medicine',
     C.[Name] as 'Category', A.[Status]
     from Articles A
     inner join Presentations P on A.IdPresentation = P.Id
     inner join Categories C on C.Id = A.IdCategory
     where (A.[Code] like '%' + @Code + '%' or @Code =  '')
     and (A.[Name] like '%' + @Name + '%' or @Name =  '')
     and A.[Status]=1 AND A.Stock is not null
     and (A.IdCategory = @IdCategory or @IdCategory = 0)
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetBoxs]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBoxs]
@Name nvarchar(50) = '',
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select Id, [Name], case when [Status] = 1 then 'Activo'
     else 'Inactivo' end as 'Estatus'  from Boxs where [Name] = @Name or @Name='' 
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetBoxsActives]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBoxsActives]
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select Id, [Name], case when [Status] = 1 then 'Activo'
     else 'Inactivo' end as 'Estatus'  from Boxs where [Status]=1
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetBoxsbyHardwareID]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBoxsbyHardwareID]
@HardwareID nvarchar(50) = '',
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select Id, [Name],HardwareID, case when [Status] = 1 then 'Activo'
     else 'Inactivo' end as 'Estatus'  from Boxs where HardwareID = @HardwareID
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetBoxsbyId]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBoxsbyId]
@Id int = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select Id, [Name],HardwareID, case when [Status] = 1 then 'Activo'
     else 'Inactivo' end as 'Estatus'  from Boxs where Id = @Id
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetCashDrop]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCashDrop]
@Desde date = getdate,
@Hasta date = getdate,
@Entradas bit = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
  
IF @Entradas = 0   
BEGIN
 
DECLARE @Venta DECIMAL(18,2) = 0;
DECLARE @VentaTarjeta DECIMAL(18,2) = 0;
DECLARE @Devoluciones DECIMAL(18,2) = 0;
DECLARE @DevolucionesTarjeta DECIMAL(18,2) = 0;
DECLARE @TotalFondo DECIMAL(18,2) = 0;
-- 1. Calcular Ventas
SELECT @Venta = ISNULL(SUM(T.Total), 0) 
FROM Tickets T
WHERE (CAST(T.CreateDate AS DATE) BETWEEN @Desde AND @Hasta)
AND TypePay = '01';

SELECT @VentaTarjeta = ISNULL(SUM(T.Total), 0) 
FROM Tickets T
WHERE (CAST(T.CreateDate AS DATE) BETWEEN @Desde AND @Hasta)
AND TypePay <> '01';

-- 2. Calcular Devoluciones
SELECT @Devoluciones = ISNULL(SUM(T.TotalReturn), 0) 
FROM Tickets T
WHERE (CAST(T.Lastmodification AS DATE) BETWEEN @Desde AND @Hasta)
AND TypePay = '01';

SELECT @Devoluciones = ISNULL(SUM(T.TotalReturn), 0) 
FROM Tickets T
WHERE (CAST(T.Lastmodification AS DATE) BETWEEN @Desde AND @Hasta)
AND TypePay <> '01';

-- ==========================================================
-- RESULTADO FINAL UNIFICADO (Uno abajo del otro)
-- ==========================================================
SELECT 'Ventas en efectivo' AS [Concepto], @Venta AS [Monto], '' AS 'Articulo',GETDATE() AS 'Fecha','' as 'VerConcepto'
UNION ALL
SELECT 'Ventas con tarjeta' AS [Concepto], @VentaTarjeta AS [Monto], '' AS 'Articulo',GETDATE() AS 'Fecha','' as 'VerConcepto'
UNION ALL
SELECT 'Devoluciones en efectivo' AS [Concepto], @Devoluciones, '' AS 'Articulo',GETDATE() AS 'Fecha','' as 'VerConcepto'
UNION ALL
SELECT 'Devoluciones en tarjeta' AS [Concepto], @DevolucionesTarjeta, '' AS 'Articulo',GETDATE() AS 'Fecha','' as 'VerConcepto'
UNION ALL
SELECT 'Venta total en efectivo' AS [Concepto], (@Venta - @Devoluciones), '' AS 'Articulo',GETDATE() AS 'Fecha','' as 'VerConcepto'
UNION ALL
SELECT 'Venta total en tarjeta' AS [Concepto], (@VentaTarjeta - @DevolucionesTarjeta), '' AS 'Articulo',GETDATE() AS 'Fecha','' as 'VerConcepto'
END

IF @Entradas = 1   
BEGIN
SELECT CASE WHEN T.Concept != 'Ingreso de mercancia' and
T.Concept != 'Pérdida' THEN 'Otro' ELSE T.Concept END
AS 'Concepto', T.Stock AS 'Monto',
A.[Name] AS 'Articulo', T.Created AS 'Fecha',T.Concept as 'VerConcepto'
FROM TransactionHistory T INNER JOIN Articles A
ON A.Id = T.IdArticle
WHERE CAST(T.Created AS DATE) BETWEEN @Desde AND @Hasta
UNION ALL
SELECT CASE WHEN D.[Status] = 1 THEN 'VENTA' ELSE 'DEVOLUCION' END
AS 'Concepto', D.StockSold AS 'Monto',
A.[Name] AS 'Articulo', d.CreateDate AS 'Fecha',
CASE WHEN D.[Status] = 1 THEN 'VENTA' ELSE 'DEVOLUCION' END AS 'VerConcepto'
FROM Tickets T INNER JOIN 
DetailsTicket D ON T.Id = D.IdTicket
INNER JOIN Articles A ON D.IdArticle = A.Id
WHERE CAST(D.CreateDate AS DATE) BETWEEN @Desde AND @Hasta;
END
COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetCashDropbyIdBox]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCashDropbyIdBox]
@Desde datetime = getdate,
@Hasta datetime = getdate,
@Entradas bit = 0,
@IdBox int = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
  
IF @Entradas = 0   
BEGIN
 
DECLARE @Venta DECIMAL(18,2) = 0;
DECLARE @VentaTarjeta DECIMAL(18,2) = 0;
DECLARE @Devoluciones DECIMAL(18,2) = 0;
DECLARE @DevolucionesTarjeta DECIMAL(18,2) = 0;
DECLARE @TotalFondo DECIMAL(18,2) = 0;
-- 1. Calcular Ventas
SELECT @Venta = ISNULL(SUM(T.Total), 0) 
FROM Tickets T
WHERE T.CreateDate BETWEEN @Desde AND @Hasta
AND TypePay = '01' AND IdBox = @IdBox;

SELECT @VentaTarjeta = ISNULL(SUM(T.Total), 0) 
FROM Tickets T
WHERE T.CreateDate BETWEEN @Desde AND @Hasta
AND TypePay <> '01' AND IdBox = @IdBox;

-- 2. Calcular Devoluciones
SELECT @Devoluciones = ISNULL(SUM(T.TotalReturn), 0) 
FROM Tickets T
WHERE T.Lastmodification BETWEEN @Desde AND @Hasta
AND TypePay = '01' AND IdBox = @IdBox;

SELECT @Devoluciones = ISNULL(SUM(T.TotalReturn), 0) 
FROM Tickets T
WHERE T.Lastmodification BETWEEN @Desde AND @Hasta
AND TypePay <> '01' AND IdBox = @IdBox;

-- ==========================================================
-- RESULTADO FINAL UNIFICADO (Uno abajo del otro)
-- ==========================================================
SELECT 'Ventas en efectivo' AS [Concepto], @Venta AS [Monto], '' AS 'Articulo',GETDATE() AS 'Fecha','' as 'VerConcepto'
UNION ALL
SELECT 'Ventas con tarjeta' AS [Concepto], @VentaTarjeta AS [Monto], '' AS 'Articulo',GETDATE() AS 'Fecha','' as 'VerConcepto'
UNION ALL
SELECT 'Devoluciones en efectivo' AS [Concepto], @Devoluciones, '' AS 'Articulo',GETDATE() AS 'Fecha','' as 'VerConcepto'
UNION ALL
SELECT 'Devoluciones en tarjeta' AS [Concepto], @DevolucionesTarjeta, '' AS 'Articulo',GETDATE() AS 'Fecha','' as 'VerConcepto'
UNION ALL
SELECT 'Venta total en efectivo' AS [Concepto], (@Venta - @Devoluciones), '' AS 'Articulo',GETDATE() AS 'Fecha','' as 'VerConcepto'
UNION ALL
SELECT 'Venta total en tarjeta' AS [Concepto], (@VentaTarjeta - @DevolucionesTarjeta), '' AS 'Articulo',GETDATE() AS 'Fecha','' as 'VerConcepto'
END

IF @Entradas = 1   
BEGIN
SELECT CASE WHEN D.[Status] = 1 THEN 'VENTA' ELSE 'DEVOLUCION' END
AS 'Concepto', D.StockSold AS 'Monto',
A.[Name] AS 'Articulo', d.CreateDate AS 'Fecha',CASE WHEN D.[Status] = 1 THEN 'VENTA' ELSE 'DEVOLUCION' END
AS 'VerConcepto'
FROM Tickets T INNER JOIN 
DetailsTicket D ON T.Id = D.IdTicket
INNER JOIN Articles A ON D.IdArticle = A.Id
WHERE D.CreateDate BETWEEN @Desde AND @Hasta
AND IdBox = @IdBox;
END
COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetCashFund]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCashFund]
@Desde date = getdate,
@Hasta date = getdate,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
    select C.Id,B.Id as 'IdBox', B.[Name] as 'Caja', C.CheckIn as 'Apertura', C.CheckOut as 'Cierre',
    case when C.StatusOpen = 1 then 'Abierto' else 'Cerrado' end 'Estatus'    
    from Cashfund C
    inner join Boxs B on C.IdBox = B.Id
    where CAST(C.[CheckIn] AS DATE) between CAST(@Desde AS DATE) and CAST(@Hasta AS DATE)
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetCashfundbyHardwareID]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCashfundbyHardwareID]
@HardwareID nvarchar(50) = '',
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     select top 1 C.*
     from Cashfund C inner join Boxs B
    on C.IdBox = B.Id
    where B.HardwareID = @HardwareID and CAST(C.[CheckIn] AS DATE) = CAST(GETDATE() AS DATE)
    AND C.StatusOpen = 1
    order by C.CheckIn desc
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetCashFundbyId]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCashFundbyId]
@Id int = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY 
   select *
    from Cashfund C
    where C.Id = @Id
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END

GO
/****** Object:  StoredProcedure [dbo].[GetCashFundbyIdBox]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCashFundbyIdBox]
@IdBox int = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY 
   select top 1 *
    from Cashfund C
    where C.IdBox = @IdBox
    order by C.Id desc
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetCategoriebyId]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCategoriebyId]
@Id int = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select top 1 * from Categories where Id = @Id
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetCategories]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetCategories]
@Name nvarchar(50) = '',
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
    Select 
    C.Id, C.[Name],
    CASE 
        WHEN C.[Status] = 1 then 'Activo' 
        else 'Inactivo' 
    end as 'Status'
from Categories C
where (C.[Name] like '%' + @Name + '%' or @Name = '')
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetCategoriesActives]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCategoriesActives]
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select * from Categories where [Status] = 1
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetClients]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetClients]
@Name nvarchar(50) = '',
@VResp				INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select Id,[Name],Email,
     case when [Status] = 1 then 'Activo' else 'Inactivo' end as 'Status'
     from Clients where [Name] like + '%' + @Name + '%' or @Name =  ''
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetClientsbyId]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetClientsbyId]
@Id int = 0,
@VResp				INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select * from Clients where Id = @Id
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetCompany]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCompany]
    @VResp				INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select top 1 * from dbo.Company
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetConfigBox]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetConfigBox]
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
  select I.[Page],CB.Spacing,CB.Align,CB.Width,
  CB.HightLine,CB.ColorLine, I.WidthPage,
  I.HightPage
  from Impressions I
  inner join ConfigBox CB on I.Id = CB.IdImpression
  where I.[Name] = 'Lista de precios'
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetConfigImpressions]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetConfigImpressions]
@Tipo nvarchar(50) = '',
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
  select CI.[Name],CI.FontSize,CI.FontStyle,CI.FontColor from Impressions I
  inner join ConfigImpressions CI on I.Id = CI.IdImpression
  where I.[Name] = @Tipo
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetConfigPage]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetConfigPage]
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
  select top 1 I.[Page], I.WidthPage,
  I.HightPage
  from Impressions I
  where I.[Name] = 'Ticket'
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetDetailsforFacture]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDetailsforFacture]
@IdTicket int = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select A.CodeSAT, CONCAT('Id', A.Id) as 'Code',D.StockSold, P.UnitSAT,
     P.[Name] as NamePresentation, A.[Name], D.PriceSold,
     D.TotalSold, D.Rate,D.Amount
     from Articles A
     inner join DetailsTicket D 
     on A.Id = D.IdArticle
     inner join Presentations P
     on P.Id = A.IdPresentation
     where IdTicket = @IdTicket
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetDetailsTicket]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDetailsTicket]
@IdTicket int = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select D.Id, A.Code, A.[Name], CASE 
        WHEN ISNULL(D.StockSold, 0) % 1 = 0 THEN CAST(CAST(ISNULL(D.StockSold, 0) AS INT) AS NVARCHAR(50))
        ELSE FORMAT(ISNULL(D.StockSold, 0), 'N3') 
    END + ' ' + ISNULL(P.[Presentation], '') AS 'Stock',
    D.PriceSold, D.TotalSold, D.CreateDate, CASE
     WHEN D.[Status] = 1 THEN 'VENDIDO' ELSE 'DEVUELTO' END as 'Status',
     A.SendBack,D.StockSold, D.Note
     from  DetailsTicket D
     inner join Tickets T on D.IdTicket = T.Id
     inner join Articles A on D.IdArticle = A.Id
     inner join Presentations P on D.IdPresentation = P.Id
     where T.Id = @IdTicket
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetHighPrice]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetHighPrice]
@IdArticle int = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
    SELECT TOP 1 ISNULL(MAX(PS.PriceUnit), 0) as 'Price', P.Id as 'IdPresentation', P.[Name] as 'Presentation'
    FROM PricesSuppliers PS 
    inner join Presentations P on Ps.IdPresentation = P.Id
    WHERE PS.IdArticle = @IdArticle AND PS.[Status] = 1
    group by P.Id, P.[Name]
 COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetItemsRecipe]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetItemsRecipe]
@IdRecipe bit = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select A.Id as 'IdArticle',A.Code,A.[Name],I.Use_Stock as 'Stock', P.[Name] as 'Presentation',
      case when p.Decimals > 0 then CAST(A.Price / (NULLIF(A.SuggestedStock, 0)* 1000) AS DECIMAL(18, 4))
      ELSE CAST(A.Price AS DECIMAL(18, 4)) END as 'Price', 
    CAST( CASE WHEN P.Decimals > 0 THEN (I.Use_Stock * 1000) * A.Price 
            ELSE I.Use_Stock * A.Price END 
        AS DECIMAL(18, 2)) AS 'Total', p.Decimals, A.[Image]  
     from Articles A 
     inner join Items I on A.Id = I.IdArticle
     inner join Presentations P on P.Id = A.IdPresentation
     where I.IdRecipe = @IdRecipe and I.[Status] = 1
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetKeys]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetKeys]
@VResp				INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select * from Keys
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetPresentationbyId]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPresentationbyId]
@Id INT = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select * from Presentations
     WHERE Id = @Id
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetPresentations]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPresentations]
@VResp				INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select * from Presentations
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetPricesSuppliersActives]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPricesSuppliersActives]
@IdArticle int = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
    Select PS.Id,S.Id as 'IdSupplier', S.[Name], PS.PriceUnit, PS.IdPresentation
    from PricesSuppliers PS 
    inner join Suppliers S on PS.IdSupplier = S.Id
    where PS.IdArticle = @IdArticle and PS.[Status] = 1
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetRecipebyIdorCode]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRecipebyIdorCode]
@Id int = 0,
@Code nvarchar(50)='',
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select top 1 *
     from Recipes 
    where Id = @Id or Code = @Code
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetStock]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStock]
@Id int = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select top 1 A.Id, A.Price, A.Stock,
     A.StockMin, A.SuggestedStock, A.IdPresentation,
     A.Margen, P.[Name] as 'Presentation'
     from Articles A
     inner join Presentations P on A.IdPresentation = P.Id
    where A.Id = @Id    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetStockOut]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStockOut]
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
    SELECT @VResp = COUNT(A.Id)
    FROM Articles A
    WHERE A.Stock <= A.StockMin         
  COMMIT TRAN Tadd
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN Tadd;            
        SET @VResp = 0; -- Retornamos 0 si hubo un error grave
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetSuppliers]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSuppliers]
@Name nvarchar(50) = '',
@VResp				INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select Id,[Name],Email,
     case when [Status] = 1 then 'Activo' else 'Inactivo' end as 'Status'
     from Suppliers where [Name] like '%' + @Name + '%' or @Name =  ''
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetSuppliersActives]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSuppliersActives]
@VResp				INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select Id,[Name]
     from Suppliers where [Status] = 1
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetSuppliersbyId]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSuppliersbyId]
@Id int = 0,
@VResp				INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select * from Suppliers where Id = @Id
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetTickets]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTickets]
@IdTicket int = 0,
@Desde date = getdate,
@Hasta date = getdate,
@FechaCreacion bit,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select T.Id, U.[Name] as 'User', C.[Name] as 'Client', 
     T.Total,
     T.TotalReturn,
     T.Total - T.TotalReturn as 'TotalEnd',
     T.CreateDate, T.Lastmodification, 
     case when T.[Status] = 1 Then 'Activo' else 'Cancelado' end as 'Status',
     case when T.[Send] = 1 Then 'Enviado' else 'Fallo Envio' end as 'Send',
     case when T.[TypePay] = '01' Then 'Efectivo' else 'Tarjeta' end as 'TypePay'
     from Tickets T
     inner join Users U on T.IdUser = U.Id
     inner join Clients C on T.IdClient = C.Id
     where 
    -- CASO 1: Si IdTicket > 0, solo filtra por ID (ignora fechas)
    (@IdTicket <> 0 AND T.Id = @IdTicket)
    OR 
    -- CASO 2: Si IdTicket es 0, filtra por el rango de fechas
    (@IdTicket = 0 AND (
        (@FechaCreacion = 1 AND CAST(T.CreateDate AS DATE) BETWEEN @Desde AND @Hasta)
        OR 
        (@FechaCreacion <> 1 AND CAST( T.Lastmodification AS DATE) BETWEEN @Desde AND @Hasta)
    ))
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetTicketsbyId]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTicketsbyId]
@Id int = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select *
     from Tickets T
     where  T.Id = @Id   
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetTypesUsers]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTypesUsers]
@VResp				INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select * from TypesUsers
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserbyId]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserbyId]
@Id int = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select * from [Users]
     where Id = @Id
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserbyNameAndPassword]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserbyNameAndPassword]
@User nvarchar(50) = '',
@Password nvarchar(50) = '',
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select top 1 * from Users where [User] = @User and [Password] = @Password
     and [Status] = 1
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserbyUser]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserbyUser]
@User nvarchar(50) = '',
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select top 1 * from Users where [User] = @User    
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsers]
@User nvarchar(50) = '',
@Name nvarchar(50) = '',
@IdTypeUser int = 0,
@VResp	INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     Select U.Id,U.[Name],U.[User], T.[Name] as 'TypeUser',case when U.[Status] = 1 then 'Activo'
     else 'Inactivo' end as 'Status' from [Users] U inner join
     TypesUsers T on u.IdTypeUser = T.Id
     where (U.[User] like '%' + @User + '%' or @User = '') and (U.[Name] like '%' + @Name + '%' or @Name = '')
     and (T.Id = @IdTypeUser or @IdTypeUser = 0)
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[ReturnArticle]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReturnArticle]
    @Id INT = 0,
    @NoteText nvarchar(max) = 0,
    @VResp INT = 0 OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Revierte todo automáticamente si hay un error catastrófico

    -- 1. Validar si el detalle del ticket realmente existe y está activo
    IF NOT EXISTS (SELECT 1 FROM dbo.DetailsTicket WHERE Id = @Id AND [Status] = 1)
    BEGIN
        SET @VResp = 0; -- O un código de error específico, ej. -1 (No existe o ya fue devuelto)
        RETURN;
    END

    -- Declaración de variables necesarias
    DECLARE @StockSold DECIMAL(18,3) = 0;
    DECLARE @IdArticle INT = 0;
    DECLARE @IdTicket INT = 0;
    DECLARE @Total decimal (18,2) = 0;
    -- Obtener datos en un solo paso
    SELECT 

        @StockSold = StockSold, 
        @IdArticle = IdArticle,
        @IdTicket = IdTicket,
        @Total = TotalSold
    FROM dbo.DetailsTicket
    WHERE Id = @Id;

    BEGIN TRY    
        BEGIN TRAN Tadd;
            
            -- Devolver el Stock al artículo
            UPDATE dbo.Articles
            SET Stock = Stock + @StockSold
            WHERE Id = @IdArticle;

            -- Cancelar el detalle del ticket
            UPDATE dbo.DetailsTicket
            SET [Status] = 0,
            Note = @NoteText,
            CreateDate = GETDATE()
            WHERE Id = @Id;
                UPDATE dbo.Tickets
                set TotalReturn = TotalReturn + @Total,
                Lastmodification = GETDATE()
                WHERE Id = @IdTicket;
            -- Optimización: Verificar si YA NO QUEDAN artículos activos en el ticket
            -- 'NOT EXISTS' es mucho más rápido que 'COUNT' porque se detiene al encontrar el primer registro activo.
            IF NOT EXISTS (
                SELECT 1 
                FROM dbo.DetailsTicket 
                WHERE IdTicket = @IdTicket AND [Status] = 1
            )
            BEGIN
                UPDATE dbo.Tickets
                SET [Status] = 0
                WHERE Id = @IdTicket;
            END

        COMMIT TRAN Tadd;
        SET @VResp = 1; -- Todo salió bien

    END TRY
    BEGIN CATCH
        -- Manejo seguro del Rollback
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRAN Tadd;
        END
        
        SET @VResp = 0; -- Error en la transacción
        
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveArticle]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveArticle]
    @Id int = 0,
    @Name nvarchar(50) = '',
    @Description nvarchar(250) = '',
    @Image varbinary(MAX) = null,
    @Code nvarchar(50) = '',
    @CodeSAT nvarchar(50) = '',
    @SendBack bit = 0,
    @Medicine bit = 0,
    @IdCategory int = 0,
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     IF (@Id IS NULL OR @Id = 0)
     BEGIN
     insert into dbo.Articles (Code,CodeSAT, [Name],[Description],[Image],[Status],[SendBack],[Medicine],[IdCategory])
     values(@Code,@CodeSAT,@Name,@Description,@Image,1, @SendBack,@Medicine,@IdCategory)
     END
     ELSE
     BEGIN
     update Articles
     set Code=@Code, [CodeSAT] = @CodeSAT, [Name] = @Name, [Description] = @Description, 
     [Image] = @Image, SendBack = @SendBack, Medicine = @Medicine, IdCategory = @IdCategory
     where Id = @Id
     END
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveBox]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveBox]
    @Name nvarchar(50) = '',
    @HardwareID nvarchar(MAX) = '',
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     IF NOT EXISTS (SELECT 1 FROM Boxs where HardwareID = @HardwareID)
     BEGIN
     insert into dbo.Boxs([Name],[HardwareID],[Status])
     values(@Name,@HardwareID,1)
     END
     ELSE
     BEGIN
     update B
     set [Name] = @Name, [HardwareID] = @HardwareID
     from Boxs B where HardwareID = @HardwareID
     END
     COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveCashFund]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveCashFund]
    @Id int = 0,
    @IdBox int = 0,
    @CheckIn datetime = GETDATE,
    @CheckOut datetime = GETDATE,
    @CashIn decimal(18,2) = 0,
    @CashOut decimal(18,2) = 0,
    @CashFinish decimal(18,2) = 0,
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     IF(@Id = 0)
     BEGIN
     insert into dbo.Cashfund([IdBox],[CheckIn],[CheckOut],[CashIn],[CashOut],[CashFinish],[StatusOpen])
     values(@IdBox,@CheckIn,@CheckOut,@CashIn,@CashOut,@CashFinish,1)
     END
     ELSE
     BEGIN
     update C
     set [CheckIn] = @CheckIn,[CheckOut]=@CheckOut,[CashIn]=@CashIn,[CashOut]=@CashOut,[CashFinish]=@CashFinish
     from Cashfund C where Id = @Id
     END
     COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveCategorie]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveCategorie]
    @Id int = 0,
    @Name nvarchar(50) = '',
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     IF (@Id IS NULL OR @Id = 0)
     BEGIN
     insert into dbo.Categories ([Name],[Status])
     values(@Name,1)
     END
     ELSE
     BEGIN
     update Categories
     set [Name] = @Name
     where Id = @Id
     END
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveClient]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveClient]
    @Id int = 0,
    @Name nvarchar(50) = '',
    @Address nvarchar(50) = '',
    @Phone1 nvarchar(50) = '',
    @Phone2 nvarchar(50) = '',
    @Email nvarchar(50)='',
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     IF (@Id IS NULL OR @Id = 0)
     BEGIN
     insert into dbo.Clients ([Name],[Address],Phone1,Phone2,Email,[Status])
     values(@Name,@Address,@Phone1,@Phone2,@Email,1)
     END
     ELSE
     BEGIN
     update Clients
     set [Name] = @Name, [Address] = @Address, Phone1 = @Phone1, Phone2 = @Phone2, Email = @Email
     where Id = @Id
     END
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveCompany]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveCompany]
    @Name nvarchar(50) = '',
    @BillingName nvarchar(50)='',
    @Address nvarchar(MAX) = '',
    @CP int,
    @RFC nvarchar(50) = '',
    @Regimen nvarchar(50) = '',
    @Manager nvarchar(50) = '',
    @Phone1 nvarchar(50) = '',
    @Phone2 nvarchar(50) = '',
    @Email nvarchar(50) = '',
    @Logo varbinary(MAX) = null,
    @VResp				INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY
     if EXISTS (SELECT 1 FROM Company)
     begin
     update dbo.Company set
     [Name] = @Name, [Address] = @Address, [CP] = @CP, [RFC] = @RFC,
     [Regimen] = @Regimen, Email = @Email, Manager = @Manager,
     Phone1 = @Phone1, Phone2 = @Phone2, Logo = @Logo, BillingName = @BillingName
     end
     else
     begin
     insert into dbo.Company([Name],[BillingName], [Address],[CP],[RFC],[Regimen],Manager,Phone1,Phone2, Email,Logo)
     values(@Name, @BillingName,@Address,@CP,@RFC,@Regimen,@Manager,@Phone1,@Phone2, @Email,@Logo)    
     end
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveConfigBox]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveConfigBox]
    @Name nvarchar(50) = '',
    @Spacing int = 0,
    @Align nvarchar(50) = '',
    @Width int = 0,
    @HightLine decimal (18,2)=0,
    @ColorLine nvarchar(50) = '',
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY       
     update ConfigBox
     set [Spacing]=@Spacing, [Align] = @Align, [Width] = @Width,
     [HightLine] = @HightLine, [ColorLine] = @ColorLine
     where [Name] = @Name
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveConfigImpressions]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveConfigImpressions]
    @Name nvarchar(50) = '',
    @FontSize int = 0,
    @FontStyle nvarchar(50) = '',
    @FontColor nvarchar(50) = '',
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY       
     update ConfigImpressions
     set [FontSize]=@FontSize, [FontStyle] = @FontStyle, [FontColor] = @FontColor
     where [Name] = @Name
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveDetailsTicket]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveDetailsTicket]
    @Id int = 0,
    @IdTicket int = 0,
    @IdArticle int = 0,
    @IdPresentation int = 0,
    @StockSold decimal(18,3) = 0,
    @PriceSold decimal(18,2) = 0,
    @TotalSold decimal(18,2) = 0,
    @Rate nvarchar(50) = '',
    @Amount decimal(18,2) = 0,
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     insert into dbo.DetailsTicket (IdTicket,IdArticle,IdPresentation,StockSold,PriceSold,TotalSold,CreateDate,[Status],Note,
     Rate, Amount)
     values(@IdTicket,@IdArticle,@IdPresentation,@StockSold,@PriceSold,@TotalSold,GETDATE(),1,'', @Rate, @Amount)  
     update Articles
     set Stock = case when Stock - @StockSold < 0 then 0 else stock - @StockSold end
     where Id = @IdArticle
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveImpressions]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveImpressions]
    @Name nvarchar(50) = '',
    @Page nvarchar(250) = '',
    @WidthPage decimal (18,2)=0,
    @HightPage decimal (18,2)=0,
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY       
     update Impressions
     set [Page]=@Page, [WidthPage] = @WidthPage, [HightPage] = @HightPage
     where [Name] = @Name
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveItem]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveItem]
    @IdRecipe int = 0,
    @IdArticle int = 0,
    @Use_Stock decimal(18,3) = 0,
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     IF EXISTS (SELECT 1 FROM Items where IdRecipe = @IdRecipe and IdArticle= @IdArticle)
     BEGIN
     update Items
     set [Status] = 1,
     Use_Stock =@Use_Stock
     where IdRecipe = @IdRecipe and IdArticle= @IdArticle  
     END
     ELSE
     BEGIN
        insert into dbo.Items ([IdRecipe],[IdArticle],Use_Stock,[Status])
     values(@IdRecipe,@IdArticle,@Use_Stock,1)
     END
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveKeys]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveKeys]
    @Name nvarchar(50) = '',
    @Key nvarchar(MAX) = '',
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     IF NOT EXISTS (SELECT 1 FROM Keys)
     BEGIN
     insert into dbo.Keys([Name],[Key])
     values(@Name,@Key)
     END
     ELSE
     BEGIN
     update keys
     set [Name] = @Name, [Key] = @Key
     END
     COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SavePricesSuppliers]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SavePricesSuppliers]
    @Id int = 0,
    @IdSupplier int = 0,
    @IdArticle int = 0,
    @PriceUnit decimal(18,2),
    @IdPresentation int = 0,
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     IF (EXISTS (SELECT 1 FROM PricesSuppliers where IdSupplier = @IdSupplier and IdArticle = @IdArticle))
     BEGIN
     update PricesSuppliers
     set [IdSupplier]= @IdSupplier, [IdArticle]= @IdArticle,[PriceUnit]=@PriceUnit,[IdPresentation]= @IdPresentation,
     [Status] = 1
     where IdSupplier = @IdSupplier and IdArticle = @IdArticle
     END
     ELSE
     BEGIN
     insert into dbo.PricesSuppliers([IdSupplier],[IdArticle],[PriceUnit],[IdPresentation],[Status])
     values(@IdSupplier,@IdArticle,@PriceUnit,@IdPresentation,1)
     END
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveRecipe]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveRecipe]
    @Id int = 0,
    @Name nvarchar(50) = '',
    @Description nvarchar(250) = '',
    @Image varbinary(MAX) = null,
    @Code nvarchar(50) = '',
    @Stock decimal(18,3) = 0,
    @IdPresentation int = 0,
    @Price decimal (18,2) = '',
    @SuggestedStock decimal(18,3) = 0,
    @VResp INT	= 0	OUTPUT  -- Aquí retornaremos el ID generado o encontrado
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     IF (@Id IS NULL OR @Id = 0)
     BEGIN
     insert into dbo.Recipes ([Name],[Description],[Image],Code,Stock,IdPresentation,Price,SuggestedStock,[Status])
     values(@Name,@Description,@Image,@Code,@Stock,@IdPresentation,@Price,@SuggestedStock,1)
         SET @VResp = SCOPE_IDENTITY();
     END
     ELSE
     BEGIN
     update Recipes
     set [Name] = @Name, [Description] = @Description, [Image] = @Image,
     Code=@Code,Stock=@Stock,IdPresentation=@IdPresentation,Price=@Price,
     SuggestedStock=@SuggestedStock
     where Id = @Id
     SET @VResp = @Id
     END
  COMMIT TRAN Tadd
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN Tadd;            
        SET @VResp = 0; -- Retornamos 0 si hubo un error grave
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveStock]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveStock]
    @Id int = 0,
    @Stock decimal(18,3) = 0,
    @StockMin decimal (18,3) = 0,
    @IdPresentation int = 0,
    @Price decimal (18,2) = '',
    @SuggestedStock decimal(18,3) = 0,
    @Margen decimal (18,2) = '',
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY         
     update Articles
     set Stock=@Stock,IdPresentation=@IdPresentation,Price=@Price,
     SuggestedStock=@SuggestedStock, Margen = @Margen, StockMin = @StockMin
     where Id = @Id
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveSupplier]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveSupplier]
    @Id int = 0,
    @Name nvarchar(50) = '',
    @Address nvarchar(50) = '',
    @Phone1 nvarchar(50) = '',
    @Phone2 nvarchar(50) = '',
    @Email nvarchar(50)='',
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     IF (@Id IS NULL OR @Id = 0)
     BEGIN
     insert into dbo.Suppliers ([Name],[Address],Phone1,Phone2,Email,[Status])
     values(@Name,@Address,@Phone1,@Phone2,@Email,1)
     END
     ELSE
     BEGIN
     update Suppliers
     set [Name] = @Name, [Address] = @Address, Phone1 = @Phone1, Phone2 = @Phone2, Email = @Email
     where Id = @Id
     END
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveTicket]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveTicket]
    @Id int = 0,
    @IdUser int = 0,
    @IdClient int = 0,
    @Total decimal(18,2) = 0,
    @IdBox int = 0,
    @TypePay nvarchar(50) = '',
    @Folio nvarchar(50) = '',
    @VResp INT	= 0	OUTPUT  -- Aquí retornaremos el ID generado o encontrado
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     insert into dbo.Tickets ([IdUser],[IdClient],[CreateDate],[lastmodification],
     [Status], [IdBox], [Total], [TotalReturn],[Send],[Note], [TypePay],[Folio])
     values(@IdUser,@IdClient,GetDate(),GetDate(),1, @IdBox, @Total, 0, 0,'',@TypePay,@Folio)
         SET @VResp = SCOPE_IDENTITY();
  COMMIT TRAN Tadd
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN Tadd;            
        SET @VResp = 0; -- Retornamos 0 si hubo un error grave
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveTransactionHistory]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveTransactionHistory]
    @IdArticle int = 0,
    @Stock decimal(18,3) = 0,
    @Concept nvarchar(max) = '',
    @VResp INT	= 0	OUTPUT 
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY      
     insert into dbo.TransactionHistory ([IdArticle],[Stock],[Concept],[Created])
     values(@IdArticle,@Stock,@Concept,GetDate())
   COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[SaveUser]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveUser]
    @Id int = 0,
    @Name nvarchar(50) = '',
    @Address nvarchar(50) = '',
    @User nvarchar(50) = '',
    @Password nvarchar(50) = '',
    @IdTypeUser int = 0,
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     IF (@Id IS NULL OR @Id = 0)
     BEGIN
     insert into dbo.Users([Name],[Address],[User],[Password],[Status],[IdTypeUser])
     values(@Name,@Address,@User,@Password,1,@IdTypeUser)
     END
     ELSE
     BEGIN
     update Users
     set [Name] = @Name, [Address] = @Address, [User] = @User, [Password] = @Password,
     IdTypeUser = @IdTypeUser
     where Id = @Id
     END
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateAllStatusItems]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateAllStatusItems]
    @IdRecipe int = 0,
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     update dbo.Items
     set [Status] = 0
     where IdRecipe = @IdRecipe
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateAllStatusPrices]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateAllStatusPrices]
    @IdArticle int = 0,
    @IdPresentation int = 0,
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     update dbo.PricesSuppliers
     set [Status] = 0
     where IdArticle = @IdArticle
     update dbo.Articles
     set IdPresentation = @IdPresentation
     where Id = @IdArticle
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateSAT]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateSAT]
@CodeSAT nvarchar(50) ='',
@Code nvarchar(50) ='',
@Name nvarchar(50) = '',
@IdCategory int = 0,
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     update A
     set A.CodeSAT = @CodeSAT
from Articles A
inner join Categories C on C.Id = A.IdCategory
left join Presentations P on A.IdPresentation = P.Id
where (A.[Code] like '%' + @Code + '%' or @Code = '')
  and (A.[Name] like '%' + @Name + '%' or @Name = '')
  and (A.IdCategory = @IdCategory or @IdCategory = 0)
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStatusArticle]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStatusArticle]
    @Id int = 0,
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     update dbo.Articles
     set [Status] = case when [Status] = 0 Then 1 Else 0 End
     where Id = @Id
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStatusBox]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStatusBox]
    @Id int = 0,
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY        
     update B
     set [Status] = case when [Status] = 1 Then 0 Else 1 END
     from Boxs B where Id = @Id
     COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStatusCashFund]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStatusCashFund]
    @Id int = 0,
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY        
     update C
     set [StatusOpen] = case when [StatusOpen] = 1 Then 0 Else 1 END
     from Cashfund C where Id = @Id
     COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStatusCategorie]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStatusCategorie]
    @Id int = 0,
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     update dbo.Categories
     set [Status] = case when [Status] = 0 Then 1 Else 0 End
     where Id = @Id
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStatusClient]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStatusClient]
    @Id int = 0,
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     update dbo.Clients
     set [Status] = case when [Status] = 0 Then 1 Else 0 End
     where Id = @Id
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStatusSupplier]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStatusSupplier]
    @Id int = 0,
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     update dbo.Suppliers
     set [Status] = case when [Status] = 0 Then 1 Else 0 End
     where Id = @Id
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStatusUser]    Script Date: 04/06/2026 10:38:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStatusUser]
    @Id int = 0,
    @VResp INT	= 0	OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRAN Tadd
     BEGIN TRY    
     update dbo.Users
     set [Status] = case when [Status] = 0 Then 1 Else 0 End
     where Id = @Id
    COMMIT TRAN Tadd
        SET @VResp = 1
    END TRY
    BEGIN CATCH
         ROLLBACK TRAN Tadd
         SET @VResp = 0
    END CATCH 
END
GO
